apiVersion: v1
kind: Pod
metadata:
  name: spring-app
  labels:
    app: spring-app
spec:
  containers:
    - name: spring-app
      image: spring-laboratory:latest
      imagePullPolicy: Never
      env:
        - name: JAVA_OPTS
          value: "-XX:StartFlightRecording=duration=120s,filename=/app/dir/startup.jfr"
      ports:
        - containerPort: 8080
          name: http
      volumeMounts:
        - name: startup-jfr
          mountPath: /app/dir
  volumes:
    - name: startup-jfr
      emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: spring-app
spec:
  selector:
    app: spring-app
  ports:
    - name: http
      port: 9000
      targetPort: 8080
  type: ClusterIP
